__pycache__/
env/
venv/
*.pyc
*.pyo
*.pyd
.Python

# PM2
ecosystem.*.config.js
ecosystem.*.config.cjs
start_backend.sh
start_frontend.sh
logs/
*.log
.pm2/

# Frontend build
frontend/dist/
frontend/node_modules/

# Backend cache
backend/cache/
# Do not ignore backend/cache/sss.html
!backend/cache/sss.html

backend/gs_data.db

# Environment variables
.env
.env.local

# Nginx logs (if stored in project)
nginx/*.log
credentials.json
